.container{
    background-color: rgb(202, 202, 64);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container div{
    width: 100px;
    line-height: 75px;
    margin: 10px;
    text-align: center;
    font-size: 32px;
    background-color: rgb(230, 131, 11);
}
